@charset "UTF-8";

.dbg {
	clear : both;
	width : 1250px;
	margin : auto;
}

a {
	color : gray;
}
a:visit{
	color : gray;
}

 .main_header{
    text-align: center;
    height: 130px;
    line-height: 100px;
    padding-top: 20px;
    color : #625b54;
    /* background-color: bisque; */
}

.admdth {
	border-bottom : 1px solid #ccc;
}

.selectAdminSearch {
    margin-bottom: 25px;
    margin-left: 25px;
    }

.adminSearch {
	border : none;
	font-size : 13pt;
	height : 30px;
	text-align : center;
	margin-left: 100px;
}

.admSearchicon {
	width : 20px;
	height : 20px;
	bottom : 5px;
	padding : 0px;
}

.admKeyword {
	border-left : none;
	border-right : none;
	border-top : none;
	border-bottom : 1px solid #6a6560;
	width : 300px;
	text-align : center;
	margin-left: 10px;
    font-size: 12pt;
}


.admSearchBtn {
	border : none;
	background-color : white;
	padding : 0;
	cursor:pointer;
}

.deleteAdminDiary {
	float: right;
	width: 100px;
	cursor: pointer;
    height: 45px;
    background-color: white;
	z-index: 1;
	border : 1px solid #ccc;
	margin-right: 125px;
}

#goList {
	float: right;
	width: 100px;
	cursor: pointer;
    height: 45px;
    z-index: 1;
	background-color : white;
	border : 1px solid #ccc;
	margin-right : 10px;
	}

.admdTable {
	clear : both;
    border: solid 1px #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    width: 80%;
}

.admdtr {
	border : 1px solid gray;
}
.admdSelect {
	width : 40px;
}
.admdNum {
	width : 80px;
}

.admdContent {
	width : 720px;
	height : 60px;
	white-space: nowrap;
	overflow : hidden;
	text-overflow: ellipsis;
}

.admdcontentmove {
	width : 820x;
	height : 60px;
	white-space: nowrap;
	overflow : hidden;
	text-overflow: ellipsis;
	line-height : 60px;
	margin-right: 5px;
}

.admdId {
	width : 200px;
}

.admdDate {
	width : 150px;
}

.admdtd {
	text-align : center;
}

.admdaContentLink {
	text-decoration : none;
	color : black;
}

.admdaContentLink:visited {
	text-decoration : none;
	color : gray;
}

.admdaContentLink:link {
	color : gray;
}

.regis_page {
	text-align : center;
	margin-top: 40px;
}

.admdNum {
    font-style: italic;
    font-weight: bold;
    color: #625b54;
    }
    

.emptyadmDiary {
	 font-size: 14pt;
	 padding: 80px;
}

.moveadmDiary {
	text-align: center;
    padding: 40px;
    font-size: 14pt;
    font-weight: bold;
}

.aMoveDiary:visit {
	text-decoration : none;
	color : #625b54;
}

