@charset "UTF-8";
.dback {
	clear : both;
}
.dtliketdcnt {
	border-left : none;
	height : 45px;
}

.dtdiarytb {
	border : 1px solid #e2e2e2;
	margin : auto;
	width : 800px;
	border-collapse: collapse;
	border-left : none;
	border-right : none;
	
}

.declaration {
	float : right;
	margin : 0;
}

.dmodify {
	float : right;
	margin : 0 5px;
}

.ddelete {
	float : right;
	margin : 0 8px 0 5px;
}

.dtdiarytb tr {
	border : 1px solid #e2e2e2;
	border-left : none;
	border-right : none;
}


.liketd {
	border-right: none;
	padding : 7px;
}

.dtbtn {
	border : none;
	background-color : white;
	font-weight:bold;
	display: inline-block;
	font-size : 17px;
	padding : 0;
}

.dtbtn:hover {
	cursor:pointer;
}

.dtidtr {
	height : 50px;
}

.dtimgtr {
	height : 450px;
}

.dtdcontent {
	height : 100px;
	padding : 0 0 0 7px;
	margin : 0 auto;
}

.dtidtd {
	padding : 0 0 0 7px;
	
}
.commdelete {
	float : right;
	margin : 0 10px 0 8px;
	
}

.commmodify {
	float : right;
}

.dtinsertcommwriter {
	padding : 0 0 0 7px;
}

.writecomment {
	border : none;
	width : 88%;
}

.writecomment:focus {
	outline : none;
}

.dtinsertcommtr {
	margin-left : 8px;
	height : 50px;
}

.dtinsertcommwriter {
	width : 100px;
	margin-left : 8px;
	font-weight : bold;
	text-align : center;
}

.dtlistcommtr {
	height : 50px;
}

.dtlistcomm {
	padding : 0 0 0 8px;
}

.insertcomm {
	float : right;
	margin-right : 7px;
}

.dtdiaryimgtd {
	text-align : center;
	margin : 0;
}

.dtdiaryimg {
	margin : 20px;
}

.commwriter {
	text-align : center;
	width : 150px;
}


/* ====== 신고하기 모달창 ====== */
.modal{ 
    padding-top: 30px;
    display: none;
    margin: auto;
    position: relative;
    top: -900px;
    width: 400px;
    background-color: white;
    border: solid 1px #CCCCCC;
    border-radius: 10px;
    z-index: 8;
    box-shadow: 0px 0px 5px #ccc;
}

.report{
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
}

.report h3{
    text-align: left;
}

.report input[name=r_diary_no]{
    width: 100%;
}

.report select{
    border: solid 1px #CCCCCC;
    border-radius: 10px;
    width: 100%;
    height: 50px;
}

.report textarea{
    border: solid 1px #CCCCCC;
    border-radius: 10px;
    width: 100%;
    height: 300px;
}

.report .rBtn{
    margin-top: 30px;
    width: 30%;
    height: 50px;
    background-color: white;
    
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

#cancel{
    margin-right: 30px;
    background-color: #ccc;
}

#cancel:hover{
    background-color: #D5D9BA;
}

#subReport{
    border: solid 1px #D5D9BA;
}

#subReport:hover{
    background-color: #D5D9BA;
}

