@charset "UTF-8";

*{
   font-family: 'Jeju Myeongjo';
   font-size: 13pt;
   color : #1e1e1e;
   line-height: 30px;
   
   }

.diaryintro {
	text-align : center;
	font-size : 11pt;
}   

.search {
	height : 35px;
	border : none;
}

.search ::-ms-expand {
display: none;
}

.keyword {
	border-left : none;
	border-right : none;
	border-top : none;
	border-bottom : 1px solid #6a6560;
	width : 300px;
	text-align : center;
}

.selectSearch {
	margin-left : 70px;
	margin-bottom : 0px;
}

.search : selected {
	border : none;
}

.searchResult {
	text-align : center;
	font-weight : bold;
	font-size : 17pt;
	color : #d3dcd7;
}
   
.bgdiv {
	clear : both;
	width : 1250px;
	margin: auto;
}

.subtitle {
	text-align : center;
	font-size : 20pt;
}

.dwirte {
	float : right;
	margin-right : 35px;
	border : none;
	background-color : white;
	font-size : 14pt;
}

.dwirte:hover {
	cursor:pointer;
}

.ddiary {
	float : left;
	width : 400px;
	
}

.tdiary {
	clear : both;
	width : 350px;
	height : 500px;
	border : 1px solid gray;
	border-collapse: collapse;
	float : left;
	margin-left : 60px;
	margin-bottom : 250px;
}

.tdiary td {
	padding : 8px;
}

.ttr {
	border : 1px solid gray;
	padding : 8px;
}

.diaryimg {
	width : 100%;
	height : 400px;
}


.idtr {
	width : 100%;
	height : 35px;
	padding : 5px;
}

.idtd {
	font-weight : bold;
	color : #625b54;
}

.imgtr {
	width : 100%;
	height : 400px;
	margin-top:auto;
	
}



.alinkdiv {
	height : 60px;
	width: 350px;
	white-space: nowrap;
    overflow: hidden;
	text-overflow: ellipsis;
	line-height : 60px;
}


.like {
	width : 30px;
	height: 30px;
	vertical-align: middle;
}

.like2 {
	width : 30px;
	height: 30px;
	vertical-align: middle;
	margin: 0px;
}

.like:hover {
	cursor:pointer;
	}
	
.like2:hover {
	cursor:pointer;
	}

.liketd {
	margin-top : auto;
	border-right: none;
	width: 30px;
	margin : 0px;
}

.liketdcnt {
	border-left : none;
	padding: 0px;
}


