@charset "UTF-8";

*{
   font-family: 'Jeju Myeongjo';
   font-weight: bold;
   font-size: 13pt;
   color : #1e1e1e;
   line-height: 30px;
   
   }
   
.bgdiv {
	width : 1250px;
	margin: auto;
}

h3 {
	text-align : center;
	font-size : 20pt;
}

.dwirte {
	float : right;
	margin-right : 100px;
	margin-top : 100px;
	border : none;
	background-color : white;
	font-size : 14pt;
}

.dwirte:hover {
	cursor:pointer;
}

.tdiary {
	clear : both;
	width : 350px;
	height : 600px;
	border : 1px solid gray;
	border-collapse: collapse;
	float : left;
	margin-left : 100px;
}

tr td {
	border : 1px solid gray;
	padding : 8px;
}

.idtr {
	width : 100%;
	height : 35px;
	padding : 5px;
}

.imgtr {
	width : 100%;
	height : 400px;
	margin-top:auto;
	
}

.contexttd {
	width : 100%;
	height : 100px;
	padding : 0;
}

.like {
	width : 30px;
	height: 30px;
	vertical-align: middle;
}

.liketd {
	margin-top : auto;
	border-right: none;
}

.liketdcnt {
	border-left : none;
}


