@charset "UTF-8";

*{
   font-family: 'Jeju Myeongjo';
   font-weight: bold;
   font-size: 13pt;
   color : #1e1e1e;
   line-height: 30px;
   
   }
   
.bgdiv {
	clear : both;
	width : 1250px;
	margin: auto;
}

.subtitle {
	text-align : center;
	font-size : 20pt;
}

.dwirte {
	float : right;
	margin-right : 100px;
	border : none;
	background-color : white;
	font-size : 14pt;
}

.dwirte:hover {
	cursor:pointer;
}

.ddiary {
	float : left;
	width : 400px;
	
}

.tdiary {
	clear : both;
	width : 350px;
	height : 500px;
	border : 1px solid gray;
	border-collapse: collapse;
	float : left;
	margin-left : 60px;
}

.tdiary td {
	padding : 8px;
}

.ttr {
	border : 1px solid gray;
	padding : 8px;
}

.diaryimg {
	width : 100%;
	height : 400px;
}


.idtr {
	width : 100%;
	height : 35px;
	padding : 5px;
}

.imgtr {
	width : 100%;
	height : 400px;
	margin-top:auto;
	
}

.contexttd {
	width : 100%;
	height : 100px;
	padding : 0;
}

.like {
	width : 30px;
	height: 30px;
	vertical-align: middle;
}

.like2 {
	width : 30px;
	height: 30px;
	vertical-align: middle;
	margin: 0px;
}

.like:hover {
	cursor:pointer;
	}
	
.like2:hover {
	cursor:pointer;
	}

.liketd {
	margin-top : auto;
	border-right: none;
	width: 30px;
}

.liketdcnt {
	border-left : none;
	padding: 0px;
}


