@charset "UTF-8";

@font-face {
            font-family: "YESMyoungjo-Regular";
            src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/YESMyoungjo-Regular.woff") format("woff");
            font-weight: normal;
            
            font-style: normal;
        } 

