@charset "UTF-8";

.dbg {
	clear : both;
	width : 1250px;
	margin : auto;
}

 .main_header{
    text-align: center;
    height: 130px;
    line-height: 100px;
    padding-top: 20px;
    /* background-color: bisque; */
}


.mySearchicon {
	width : 20px;
	height : 20px;
	bottom : 5px;
	padding : 0px;
}

.mySearchBtn {
	border : none;
	background-color : white;
	padding : 0px;
}

.mySearchBtn:hover {
	cursor:pointer;
}

.myKeyword {
	border-left : none;
	border-right : none;
	border-top : none;
	border-bottom : 1px solid #ccc;
	width : 300px;
	text-align : center;
	margin-left: 123px;
    font-size: 12pt;
    margin-bottom: 25px;
}

.selectSearch {
	margin-left : 65px;
	margin-bottom : 0px;
}

.search {
	height : 35px;
	border : none;
}

.search ::-ms-expand {
display: none;
}

.deleteMyDiary {
	float: right;
	width: 100px;
	cursor: pointer;
    height: 45px;
    background-color: white;
	z-index: 1;
	border : 1px solid #ccc;
	margin-right: 125px;
}

.deleteMyDiary:hover {
	color : white;
	background-color #625b54;
}

#goMyList {
	float: right;
	width: 100px;
	cursor: pointer;
    height: 45px;
    z-index: 1;
	background-color : white;
	border : 1px solid #ccc;
	margin-right : 10px;
}

#goMyList:hover {
	background-image: linear-gradient(to right, white 0%, #625b54 51%, #625b54 100%);
	color : white;
	background-position: right center;
}


.mydTable {
	clear : both;
    border: solid 1px #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    width: 80%;
    
}

.mdtr {
	border : 1px solid gray;
}

.mdth {
	border-bottom : 1px solid #ccc;
}
.mydSelect {
	width : 40px;
}
.mydNum {
	width : 70px;
}

.myContent {
	width : 820px;
	height : 60px;
	white-space: nowrap;
	overflow : hidden;
	text-overflow: ellipsis;
}

.contentmove {
	width : 820x;
	height : 60px;
	white-space: nowrap;
	overflow : hidden;
	text-overflow: ellipsis;
	line-height : 60px;
	margin-right: 5px;
}

.myDate {
	width : 150px;
}

.myLike {
	width : 100px;
}

.likeimg {
	width : 20px;
	height : 20px;
}

.mdtd {
	text-align : center;
}

.aContentLink {
	text-decoration : none;
	color : black;
}

.aContentLink:visit {
	text-decoration : none;
	color : gray;
}

.regis_page {
	text-align : center;
	margin-top: 40px;
}


.mydNum {
    font-style: italic;
    font-weight: bold;
    color: #625b54;
    }
    

.emptyDiary {
	 font-size: 14pt;
	 padding: 80px;
}

.moveDiary {
	text-align: center;
    padding: 40px;
    font-size: 14pt;
    font-weight: bold;
}

.aMoveDiary:visit {
	text-decoration : none;
	color : #625b54;
}

