@charset "UTF-8";

.mydTable {
	border : 1px solid gray;
}

.mdtr {
	border : 1px solid gray;
}

.mydNum {
	width : 70px;
}

.myContent {
	width : 862px;
	height : 60px;
	white-space: nowrap;
	overflow : hidden;
	text-overflow: ellipsis;
}

.contentmove {
	width : 862px;
	height : 60px;
	white-space: nowrap;
	overflow : hidden;
	text-overflow: ellipsis;
	line-height : 60px;
}

.myDate {
	width : 150px;
}

.myLike {
	width : 100px;
}

.likeimg {
	width : 20px;
	height : 20px;
}

.mdtd {
	text-align : center;
}

.aContentLink {
	text-decoration : none;
	color : black;
}

.aContentLink:visit {
	text-decoration : none;
	color : gray;
}

.regis_page {
	text-align : center;
}