@charset "UTF-8";

/* 초기화 */
*{
    font-family: 'Jeju Myeongjo';
    color: #625b54;
}

#content{
     width: 1250px;
     margin: auto;
     clear: both;
 }

 /* 헤더 */
 .main_header{
    text-align: center;
    height: 130px;
    line-height: 100px;
    padding-top: 20px;
    /* background-color: bisque; */
}

/* 메인 */
.orderList{
    border: solid 1px #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    width: 80%;
}

.orderList a{
    color:black;
    text-decoration: none;
}

.space{
    width: 10px;
}

.proImg{
    width: 200px;
    height: 180px;
    text-align: center;
}

.proImg img{
    width: 100%;
    border-radius: 10px;
}

.proNames{
    text-align: center;
    font-size: 23px;
    background-color: #F3EFEC;
    border-radius: 10px;
}

.proGuid{
    text-align: center;
}

.proGuid span:nth-child(1){
    margin-right: 30px;
    color: #ccc;
    font-size: 15px;
}

.proGuid span:nth-child(2){
    font-weight: bold;
    font-size: 18px;
}


.btn{
    text-align: center;
}
.proBtn{
    cursor: pointer;
    border-radius: 10px;
    background-color: #ccc;
    border: solid 1px #ccc;
    width: 100px;
    height: 80px;
}

.proBtn:hover{
    background-color: #D5D9BA;
}

.proFoot{
    line-height: 25px;
    width: 80%;
    margin: auto;
    text-align: center;
}

/* 페이지 */
.page{
    width: 80%;
    margin: auto;
    height: 100px;
    clear: both;
    text-align: center;
    line-height: 100px;
}

.page li{
    list-style: none;
    display: inline;
    margin: 0px 20px;
    font-size: 18px;
}

.page li:hover{
    font-weight: bold;
}

li.now{
    font-weight: bold;
}

.w3-btn-floating:hover{
	cursor: pointer;
}

.reviewImg > img{
	height: 300px;
}