@charset "UTF-8";

/* 초기화 */
*{
    font-family: 'Jeju Myeongjo';
}

#content{
     width: 1250px;
     margin: auto;
     clear: both;
 }

 /* 헤더 */
 .main_header{
    text-align: center;
    height: 130px;
    line-height: 100px;
    padding-top: 20px;
    /* background-color: bisque; */
}

/* 메인 */

.main_article h3{
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    text-align: left;
}
.orderList{
    border: solid 1px #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    width: 80%;
}

.orderList a{
    color:black;
    text-decoration: none;
}

.space{
    width: 10px;
}

.proImg{
    width: 200px;
    height: 180px;
    text-align: center;
}

.proImg img{
    width: 100%;
    border-radius: 10px;
}

.proNames{
    text-align: center;
    height: 100px;
    font-size: 23px;
    background-color: #F3EFEC;
    border-radius: 10px;
}

.proGuid{
    text-align: center;
}

.proGuid span:nth-child(1){
    margin-right: 30px;
    color: #ccc;
    font-size: 15px;
}

.proGuid span:nth-child(2){
    font-weight: bold;
    font-size: 18px;
}

.orderView{
    border: solid 1px #ccc;
    border-radius: 10px;
    margin: auto;
    width: 80%;
    
    
    border-top: none;
    border-bottom: none;
    border-collapse: collapse;
    border-color: #ccc;
}


.orderView input[type=text]{
    margin-left: 10px;
    width: 80%;
    height: 20px;
    border: solid 1px #ccc;
}

.orderView input:focus{
    outline:none;
    border: solid 1px #ccc;
}

.orderView td:nth-child(1){
    background-color: #F3EFEC;
    width: 300px;
    text-align: center;
}

.orderView td:nth-child(2){
    text-align: center;
}

.orderView td{
    padding: 10px;
    
    border-right: 0;
    border-left: 0;
}
