@charset "UTF-8";

/* -----------초기화------------ */

*{
    font-family: 'YESMyoungjo-Regular';
}

a{
    text-decoration: none;
    color: black;
}

#content{
    width: 1250px;
    margin: auto;
    clear: both;
}


/* -----------헤더------------ */
.main_header{
    text-align: center;
    height: 170px;
    line-height: 100px;
    padding-top: 20px;
    /* background-color: bisque; */
}

/* -----------사이드------------ */
/* 왼쪽사이드 */
.aside1{
    float:left;
    width: 110px;
    height: 250px;
    position: relative;
    top: 25.5px;
    margin-right: 15px;
}

.aside1 hr{
    border: solid 1px #625b54;
    margin-top: -5px;
}

ul.cateList{
    list-style: none;
    margin: 5px;
    padding: 0px;
}

ul.cateList li a:hover{
    font-weight: bold;
    color: #ADBA85;
}

/* -----------상품상세------------ */
#main_section{
    clear: both;
}

.detail{
    width: 80%;
    height: 500px;
    margin: auto;
}

.detail table{
    width: 90%;
    height: 500px;
    margin: auto;
    background-color: white;
}

#proImg{
    width: 50%;
}

#proImg img{
    width: 100%;
}

#space{
    width: 50px;
}

#proName{
    text-align: center;
    height: 80px;
    padding: 0px;
}

#proName p{
    font-size: 25px;
    padding-left: 5px;
}

.hrs{
    margin-top: 15px;
    border: solid 1px #F3EFEC;
}

.space2{
    height: 1px;
}

.guide{
    padding-left: 15px;
    font-size: 15px;
    color: #ccc;
    width: 70px;
    height: 60px;
}

#proPri{
    font-size: 18px;
    color: black;
    font-weight: bold;
}

.numGuide{
    text-align: center;
    height: 50px;
}

.numGuide p{
    display: inline-block;
}

#num{
    font-size: 25px;
    width: 60px;
}

.numB{
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
    text-align: center;
    background-color: #ADBA85;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    color: white;
    line-height: 30px;
}

.numB:hover{
    cursor: pointer;
}

.resultPG{
    text-align: center;
    width: 22%;
    height: 20%;
    border-left:solid 1px #F3EFEC;
}

.resultPG p{
    margin: 0px;
    margin-top: 1px;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 5px;
}

.buyGuide{
    text-align: center;
}

.buyGuide button:hover{
    cursor: pointer;
}

.bBtn{
    width: 180px;
    height: 70px;
    border:solid 1px #625b54;
    background-color: white;
}

#buyB{
    background-color: #625b54;
    color: white;
    font-weight: bold;
}

/* -----------상품설명------------ */
.pro_content{
    width: 80%;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 100px;
}

.content{
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
    clear: both;0
}

.contentList{
    height: 30px;
    margin-bottom: 100px;
}

.contentList a{
    text-decoration: none;
    color: #E5E8D3;
}

.contentList li{
    list-style: none;
    float: left;
    padding: 0px 100px;
    margin-top: 6px;
    border: solid 1px #625b54;
    height: 50px;
    line-height: 50px;
    
}

#listFirst li:nth-child(1){
    font-weight: bold;
    border-right:none;
    border-bottom: none;
}

#listFirst li:nth-child(1) a{
    color: black;
}

#listSecond{
    margin-top: 100px;
}

#listSecond li:nth-child(2){
    font-weight: bold;
    border-left:none;
    border-bottom: none;
}

#listSecond li:nth-child(2) a{
    color: black;
}

#listFirst li:nth-child(3){
    width: 235px;
    border-left:none;
    border-right: none;
    border-top:solid 1px white;
}

#listSecond li:nth-child(3){
    width: 235px;
    border-left:none;
    border-right: none;
    border-top:solid 1px white;
}

.contentList ul{
    margin: 0px;
    padding: 0px;
}

/* -----------리뷰------------ */
/* 별점 */
.starGuide{
    width: 100%;
    height: 160px;
    border: solid 1px #625b54;
}

.RatingStar{
    display: inline-block;
    width: 34%;
    height: 100%;
    text-align: center;
    border-right: dashed 1px #ADBA85;
}

.RatingStar h3{
    font-size: 15px;
    margin-bottom: 25px;
}

.RatingStar p{
    margin-top: 15px;
    font-size: 25px;
}

.RatingStar span{
    color: #D5D9BA;
}

.starDetail{
    display: block;
    width: 65%;
    height: 100%;
    float: right;
}

.starDetail h3{
    font-size: 15px;
    margin-bottom: 25px;
    text-align: center;
}

.inner-star::before{
    color: #ADBA85;
}

.outer-star {
    position: relative;
    display: inline-block;
    color: #CCCCCC;
}

.inner-star {
    position: absolute;
    top: 0;
    width: 0%;
    overflow: hidden;
    white-space: nowrap;
}

.outer-star::before, .inner-star::before {
    content: '\f005 \f005 \f005 \f005 \f005';
    font-family: 'Font Awesome 5 free';
    font-weight: 900;
    font-size: 40px;
} 

/* 그래프 */
.starContent{
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: -13px;
}

.graph{
    display: inline-block;
    height: 12px;
    width: 60%;
    margin-bottom: 8px;
    background-color: #ccc;
    border-radius: 40px;
}

.graph .barNum{
    display: block;
    float: left;
    position: relative;
    left: -30px;
    
}

.graph .bar{
    display: block;
    height: 12px;
    margin-bottom: 10px;
    line-height: 12px;
    text-align: right;
    color: white;
    background-color: #ADBA85;
    border-radius: 40px;
}

/* 리뷰 */
.reviewContent{
    margin-top: 100px;
    width: 100%;
}

.reviewContent h2{
    text-align: right;
    font-size: 30px;
    padding-bottom: 20px;
}
.reviewContent table{
    width: 100%;
}

.review hr{
    border: solid 1px #E5E8D3;
}

.space2 td{
    padding: 10px;
}

.reviewTitle{          
    height: 70px; 
    border-bottom: solid 1px #ccc;
    border-top: solid 1px #625b54;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.reviewTitle .title{
    margin-bottom: 8px;
    font-size: 25px;
}

.reviewTitle .writer{
    font-size: 20px;
    color: #E5E8D3;
}

.reviewTitle .star{
    margin: 0px;
    height: 0px;
    float:right;
    color: #ADBA85;
    font-size: 30px;
    position: relative;
    top: -40px;
    left: -5px;
}

.reviewTitle .userStar::before{
    font-family: 'Font Awesome 5 free';
    font-weight: 900;
    font-size: 30px;
}

.reviewTitle .test{
    color: #E5E8D3;
}

.reviewTitle .date{
    font-size: 15px;
    color: #D5D9BA;
    position: relative;
    top: -72px;
    left: -5px;
}

.reviewCon{
    font-size: 20px;
    line-height: 30px;
}

.reviewImg{
    float: left;
    width: 30%;
    height: 300px;
    border:solid 1px #ADBA85;
    margin-right: 20px;
    margin-top: 20px;
}

.reviewTitle:hover{
    cursor: pointer;
}


/* -----------모달------------ */
.modal{ 
    width:360px;
    height:55px; 
    background: #D5D9BA; 
    position: relative;
    right: -570px;
    top: -40px;
    border-radius: 15px;
    text-align: center;
    line-height: 55px;
    font-size: 15px;
    display: none;
}

.modal a{
    margin-left: 15px;
    font-weight: bold;
    text-decoration: underline;
}
   