@charset "UTF-8";

* {
	font-family: 'Jeju Myeongjo';
	color: #625b54;
}

.setop {
	clear: both;
	width: 1250px;
	margin: auto;
}

.main_header {
	text-align: center;
	height: 130px;
	line-height: 100px;
	padding-top: 20px;
}
.space {
	width: 10px;
	height: 20px;
	border-bottom: solid 1px #ccc;
}
.admSearchicon {
	width: 20px;
	height: 20px;
	bottom: 5px;
	padding: 0px;
}

.search_btn {
	border: none;
	background-color: white;
	padding: 0px;
}

.search_btn {
	cursor: pointer;
}

.search_bar {
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 1px solid #6a6560;
	width: 300px;
	text-align: center;
	margin-left: 38%;
	font-size: 12pt;
}

.userList {
	clear: both;
	border: solid 1px #ccc;
	border-radius: 10px;
	padding: 10px;
	margin: auto;
	margin-top: 2%;
	width: 80%;
}

#item{
    width: 10px;
}
.deletebtn {
	width: 350px;
	cursor: pointer;
    height: 50px;
    background-color: white;
	z-index: 1;
	border : 1px solid #ccc;
	margin-left: 38%;
	margin-top: 2%;
}
