<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

<settings> <!-- 입력 값이 Null일 경우 “”이 아닌 Null로 처리 -->
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<typeAliases> <!-- 사용하고자 하는 클래스의 별칭을 선언 -->
		<!-- 	<typeAlias type="plant.lab.com.board.model.vo.Board" alias="Board" />
		 -->
		<typeAlias alias="MemberVO" type="com.plant.lab.member.model.vo.MemberVO"/>
		<typeAlias  alias="Monthly" type="com.plant.lab.monthly.model.vo.Monthly" />
		<typeAlias alias="Product" type="com.plant.lab.product.model.vo.Product"/>
	 	<typeAlias alias="ProductCon" type="com.plant.lab.product.model.vo.ProductContnet"/>
		<typeAlias alias="DiaryVO" type="com.plant.lab.diary.model.vo.DiaryVO"/>
	 	<typeAlias alias="LikeVO" type="com.plant.lab.diary.model.vo.LikeVO"/>
	 	<typeAlias alias="NoticeVo" type="com.plant.lab.notice.model.vo.NoticeVo"/>
	 	
	</typeAliases>

	<mappers> <!-- 사용하고자 하는 쿼리를 정의한 mapper.xml을 등록 -->
		<mapper resource="mapper/board-mapper.xml" />
		<mapper resource="mapper/member-mapper.xml"/>
		<mapper resource="mapper/monthly-mapper.xml" />
		<mapper resource="mapper/product-mapper.xml"/>
		<mapper resource="mapper/productContent-mapper.xml"/>
		<mapper resource="mapper/like-mapper.xml"/>
		<mapper resource="mapper/notice-mapper.xml"/>
	</mappers>
	
	

</configuration>
