@charset "UTF-8";

#fullmainA {
	text-align: center;
	width: 1280px;
	margin: 0 auto;
	padding: 0;
	clear: both;
}

#mainA {
	display: inline-block;
	text-align: center;
	width: 1250px;
	margin: 0 auto;
	padding: 0;
	clear: both;
}

#oneAdBtn {
	float: right;
	font-size: 10pt;
	display: block;
	width: 120px;
	height: 50px;
	cursor: pointer;
	margin-right: 40px;
	margin-bottom: 15px;
	color: black;
	font-size: 15px;
	font-weight: bold;
	border: 2px solid #dee1e6;
	background-color: white;
	font-family: 'Jeju Myeongjo';
}

#oneArBtn {
	float: right;
	font-size: 10pt;
	display: block;
	width: 120px;
	height: 50px;
	cursor: pointer;
	margin-right: 40px;
	margin-bottom: 15px;
	border: 2px solid #dee1e6;
	background-color: white;
	color: black;
	font-size: 15px;
	font-weight: bold;
	font-family: 'Jeju Myeongjo';
}

#oneAdBtn:hover {
	border: 2px solid #625b54;
	background-color: #625b54;
	color: white;
}

#oneArBtn:hover {
	border: 2px solid #625b54;
	background-color: #625b54;
	color: white;
}

.dback {
	clear: both;
}

.bgdiv {
	clear: both;
	width: 1250px;
	margin: auto;
}

.subtitle {
	margin-top: 0;
	font-size: 20pt;
	text-align: center;
	padding-top: 20px;
	height: 130px;
	font-family: 'Jeju Myeongjo';
}

.onediv {
	float: left;
	width: 400px;
	margin-top: 20px;
	margin-bottom: 200px;
}

.onecontent {
	clear: both;
	width: 350px;
	height: 500px;
	border: 1px solid #E8E8E8;
	border-collapse: collapse;
	float: left;
	margin-left: 60px;
}

.onecontent td {
	padding: 8px;
	text-align: center;
	font-family: 'Jeju Myeongjo';
	font-size: 13pt;
	color: #1e1e1e;
	line-height: 30px;
}

.on {
	border: 1px solid gray;
	padding: 8px;
}

.oneimg {
	width: 100%;
	height: 400px;
}

.odtr {
	width: 100%;
	height: 35px;
	padding: 5px;
}

.omgtr {
	width: 100%;
	height: 400px;
	margin-top: auto;
}

.contextone {
	width: 100%;
	height: 100px;
	padding: 0;
}

.checkContain {
	margin-right: 260px;
	margin-bottom: 100px;
}

input[type=checkbox] {
	zoom: 1.5;
}
/* 
<!--CHECK BOX-->
.checkContain {
	display: block;
	width: 94%;
	height: 35px;
	margin: auto;
	cursor: pointer;
	font-size: 18px;
}

.checkContain span {
	margin-bottom: -4px;
}

.checkContain input {
	opacity: 0;
}

.checkmark {
	display: inline-block;
	border: solid 1px #ADBA85;
	border-radius: 50px;
	height: 20px;
	width: 20px;
	margin-left: 40px;
}

.checkContain:hover input ~ .checkmark, .checkContain input:checked ~
	.checkmark {
	background-color: #ADBA85;
}

.checkmark:after {
	content: "";
	display: none;
}

.checkContain input:checked ~ .checkmark:after {
	display: block;
}

.checkContain .checkmark:after {
	width: 10px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	margin-left: 3px;
	transform: rotate(45deg);
} */