@charset "UTF-8";*{
   font-family: 'Jeju Myeongjo';
   font-size: 13pt;
   color : #1e1e1e;
   line-height: 30px;
   
   }

#oneAdBtn{
	float:right;
	font-size:10pt;
	display:block;
	width:120px;
	height: 50px;
	cursor: pointer;
	margin-right: 40px;
}
   
   #oneArBtn{
   	float:right;
	font-size:10pt;
	display:block;
	width:120px;
	height: 50px;
	cursor: pointer;
	margin-right: 40px;
   }
   
.dback{
	clear: both;
	
}   
.bgdiv {
	clear : both;
	width : 1250px;
	margin: auto;
}

.subtitle {
	margin-top: 0;
	font-size: 20pt;
	text-align: center;
	padding-top: 20px;
	height: 130px;
}


.onediv {
	float : left;
	width : 400px;
	margin-top: 20px;
	margin-bottom: 200px;
	
}

.onecontent {
	clear : both;
	width : 350px;
	height : 500px;
	border : 1px solid gray;
	border-collapse: collapse;
	float : left;
	margin-left : 60px;
}

.onecontent td {
	padding : 8px;
	text-align: center;
}

.on {
	border : 1px solid gray;
	padding : 8px;
}

.oneimg {
	width : 100%;
	height : 400px;
}


.odtr {
	width : 100%;
	height : 35px;
	padding : 5px;
}

.omgtr {
	width : 100%;
	height : 400px;
	margin-top:auto;
	
}

.contextone {
	width : 100%;
	height : 100px;
	padding : 0;
}

