@charset "UTF-8";

* {
	font-family: 'Jeju Myeongjo';
	color: #1e1e1e;
	line-height: 30px;
}

#fullmainD {
	text-align: center;
	width: 1280px;
	margin: 0 auto;
	padding: 0;
	clear: both;
}

#mainD {
	display: inline-block;
	text-align: center;
	width: 1250px;
	margin: 0 auto;
	padding: 0;
	clear: both;
}

.subtitle {
	margin-top: 0;
	padding-bottom:30px;
	font-size: 20pt;
	text-align: center;
	padding-top: 20px;
	height: 30px;
}


#classImg {
	line-height: 550px;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	margin-left: 60px; 
	width : 425px;
	height: 550px;
	display: inline-block;
	width: 455px;
	float: left;
}

#null {
	vertical-align: middle;
	text-align: center;
	display: inline-block;
	height: 550px;
	width: 40px;
	border: none;
}

#classContent {
	font-size: 13pt;
	line-height:50px;
	vertical-align: middle;
	text-align: center;
	display: inline-block;
	margin-right: 60px;
	height: 550px;
	width: 455px;
}

#onePl {
	margin-top:20px;
	margin-bottom: 0;
	height: 90px;
	text-align:center;
	vertical-align: middle;
	z-index: 1;
	font-size: 13pt;
}

#oneDate {
	margin: 0px;
	text-align: left;
	vertical-align: middle;
	z-index: 1;
	font-size: 12pt;
	font-weight: 500;
}

.classText {
	background-color: white;
	margin-bottom: 60px;
	text-align: left;
	vertical-align: middle;
	z-index: 1;
	font-size: 12pt;
 	font-weight: 500;
 	color: #212121;
	
}

#classBtn {
	clear: both;
	display: inline-block;
	width: 350px;
	height: 80px;
	margin-top: 100px;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	border: 2px solid #625b54;
     background-color: white;
     color: black;
	
}


#classBtn:hover {
	background-color: #625b54;
	color: white;
}


#classImg>img {
	text-align: center;
	vertical-align: middle;
	width: 455px;
	height: 553px;
	margin: 0 auto;
	padding: 0;
}

#map{
	margin-left: auto;
	margin-right: auto;
	position:relative; 
	width: 600px; 
	height: 500px;
	margin-top: 20px;
	
}

.infodetail{
	clear:both;
	display: block;
	margin-right: 1060px;
}

#detailPrice{
font-size:14pt;
font-weight:500;	
color: #212121;
margin-bottom: 10px;
}

#detailTitle{
	font-size: 15pt;
	font-weight: 600;
	color: #212121;
	margin-bottom: 10px;
	
}