@charset "UTF-8";

* {
	font-family: 'Jeju Myeongjo';
	font-size: 13pt;
	color: #1e1e1e;
	line-height: 30px;
}

#fullmainR {
	text-align: center;
	width: 1280px;
	margin: 0 auto;
	padding: 0;
	clear: both;
}

#mainR {
	display: inline-block;
	text-align: center;
	width: 1250px;
	margin: 0 auto;
	padding: 0;
}

.subtitle {
	margin-top: 0;
	font-size: 25pt;
	text-align: center;
	padding-top: 20px;
	height: 50px;
}



.onedayinput {
	display: inline-block;
	text-align: left;
	float: right;
	margin-right: 45px;
	margin-bottom: 10px;
	width: 400px;
	height: 5px;
	color: black;
	font-weight: bold;
}

.onedaybox {
	outline: none;
	margin-top: 20px;
	float: right;
	display: inline-block;
	width: 400px;
	height: 50px;
	margin-right: 45px;
	z-index: 1;
	margin-bottom: 30px;
	border-color:  #DDDDDD;
	border: 1px solid #DDDDDD;
}

#oneRequest {
	outline: none;
	margin-top: 20px;
	float: right;
	display: inline-block;
	width: 402px;
	height: 195px;
	margin-right: 45px;
		border-color: #DDDDDD;
}

/* 결제하기*/
#onedayp {
	cursor: pointer;
	margin-top: 20px;
	float: right;
	display: inline-block;
	width: 410px;
	height: 73px;
	margin-right: 45px;
	z-index: 1;
	margin-bottom: 100px;
	border: 2px solid #DDDDDD;
	font-size: 15px;
	font-weight: bold;
     background-color: #DDDDDD;
     color: black;
}

#onedayp:hover {
	border: 1px solid #625b54;
	background-color: #625b54;
	color: white;
}

#refund {
	font-weight:600;
    float: left;
    text-align: left;
    margin-right: 600px;
    margin-bottom: 10px;
    cursor: pointer;
    margin-top: 50px;
    color: black;
    font-size: 14pt;
}

#cancel {
	font-weight:600;
	  color: black;
	float: left;
	text-align: left;
	margin-right: 580px;
	margin-bottom: 10px;
	cursor: pointer;
	 font-size: 14pt;
}

.rh {
	clear: both;
	border: 1px solid #635147;
	background-color: #635147;
	margin-bottom: 30px;
	width: 1250px;
}

#refundT {
	margin-top: 10px;
	clear: both;
	text-align: left;
	margin-bottom: 20px;
	font-size: 12pt;

}

#cancelT {
	margin-top: 10px;
	clear: both;
	text-align: left;
	margin-bottom: 20px;
    cursor: pointer;
    margin-top: 50px;
    color: black;
    font-size: 12pt;
    display: none;
}
