@charset "UTF-8";

* {
	font-family: 'Jeju Myeongjo';
	font-size: 13pt;
	color: #1e1e1e;
	line-height: 30px;
}

.bgdiv {
	clear: both;
	width: 1250px;
	margin: auto;
}

.subtitle {
	margin-top: 0;
	font-size: 20pt;
	text-align: center;
	height: 30px;
}

.onediv {
	width: 1200px;
	margin-top: 20px;
	margin-bottom: 200px;
}

.oneimg {
	clear: both;
	display: inline;
	width: 400px;
	height: 600px;
	margin-left: 30px;
	float: left;
	margin-bottom: 180px;
}

#p {
	text-align: center;
	margin-bottom: 100px;
	font-size: 9pt;
}

.ocontext {
	width: 600px;
	float: right;
	margin-top: 100px;
	margin-bottom: 120px;
	font-size: 23pt;
	font-weight: 500;
	display: inline;
	font-family: 'Unna', serif;
}

#omb {
	float: right;
	width: 100px;
	margin-right: 500px;
	cursor: pointer;
	height: 50px;
	background-color: EAEBE7;
	z-index: 1;
	display: inline;
}

#Mbtn {
	border: 1px solid black;
	text-align: center;
	padding: 3px;
}

#Mbtn:hover {
	background-color: #625b54;
	color: white;
	border: 1px solid #625b54;
}