@charset "UTF-8";

* {
	font-family: 'Jeju Myeongjo';
	font-size: 13pt;
	color: #1e1e1e;
	line-height: 30px;
}

#fullmain {
	text-align: center;
	width: 1280px;
	margin: 0 auto;
	padding: 0;
	clear: both;
}

#main {
	display: inline-block;
	text-align: center;
	width: 1250px;
	margin: 0 auto;
	padding: 0;
	vertical-align: middle;
}

/* #insertDiv {
	margin: 0 auto;
	width: 500px;
	padding: 0;
	vertical-align: middle;
	z-index: 1;
} */
.subtitle {
	margin: 0;
	font-size: 20pt;
	text-align: center;
	padding-top: 20px;
	height: 130px;
}

#some {
	clear: both;
	float: right;
	display: inline-block;
	width: 300px;
	margin-right: 475px;
	height: 300px;
	border: none;
}

#some_IMG {
	width: 300px;
	height: 300px;
	border: none;
	z-index: 1;
}

.inserttag {
	margin-right: 375px;
	margin-bottom: 10px;
	clear: both;
	float: right;
	text-align: left;
	width: 500px;
	height: 20px;
	display: inline-block;
	float: right;
}

.oneinsert {
	margin-right: 375px;
	margin-bottom: 20px;
	outline: none;
	clear: both;
	float: right;
	display: inline-block;
	clear: both;
	width: 500px;
	height: 30px;
	border-radius: 3px;
	border: 0.1px solid #bebebe;
}

#oneinsertT {
	margin-right: 375px;
	display: inline-block;
	width: 500px;
	height: 250px;
	outline: none;
	clear: both;
	float: right;
	border-radius: 3px;
	border: 0.1px solid #bebebe;
}

#oneIbtn {
	margin-right: 375px;
	cursor: pointer;
	margin-top: 30px;
	float: right;
	display: inline-block;
	clear: both;
	width: 506px;
	height: 50px;
	float: right;
	margin-top: 30px;
		border-radius: 3px;
	background-color: #ADADAD;
	border-color: #ADADAD ;
}

#updateInput {
	clear: both;
	margin-bottom: 20px;
	outline: none;
	display: inline-block;
	width: 500px;
	height: 40px;
}

#adrBtn {
	clear: both;
	margin-bottom: 20px;
	outline: none;
	display: inline-block;
	width: 506px;
	padding: 0;
	height: 40px;
	margin-left: auto;
	margin-right: 8px;
	cursor: pointer;
		border-radius: 3px;
	background-color: #ADADAD;
	border-color: #ADADAD 
}

.oneinsertD {
	margin-right: 375px;
	margin-bottom: 20px;
	outline: none;
	clear: both;
	float: right;
	display: inline-block;
	clear: both;
	width: 500px;
	height: 30px;
	border-radius: 3px;
	border: 0.1px solid #bebebe;
}

/* #timeS {
	margin-bottom: 20px;
	outline: none;
	float: right;
	display: inline-block;
	width: 100px;
	height: 20px;
} */
#timeS {
	margin-bottom: 20px;
	margin-top: 20px; outline : none;
	clear: both;
	float: left;
	display: inline-block;
	width: 150px;
	height: 30px;
	margin-left: 440px;
	border-radius: 3px;
	border: 0.1px solid #bebebe;
	outline: none;
}

.oneinsertTime {
	text-align: center;
	margin-bottom: 20px;
	outline: none;
	float: left;
	display: inline-block;
	margin-bottom: 20px;
	margin-top: 20px;
	outline: none;
	float: left;
	display: inline-block;
	width: 150px;
	height: 30px;
	border-radius: 3px;
	border: 0.1px solid #bebebe;
}

#insertspan {
	margin-bottom: 20px;
		margin-top:20px;
	outline: none;
	float: left;
	display: inline-block;
	width: 60px;
	height: 20px;
}