@charset "UTF-8";


* {
	font-family: 'Jeju Myeongjo';
	font-size: 13pt;
	color: #1e1e1e;
	line-height: 30px;
}

#fullmain {
	text-align: center;
	width: 1280px;
	margin: 0 auto;
	padding: 0;
	clear: both;
}

#main {
	display: inline-block;
	text-align: center;
	width: 1250px;
	margin: 0 auto;
	padding: 0;
}

.subtitle {
	margin-top: 0;
	font-size: 20pt;
	text-align: center;
	padding-top: 20px;
	height: 130px;
}

#calendar {
	margin-top: 30px;
	margin-left: 60px;
	margin-bottom: 100px;
	border: 1px solid black;
	display: inline-block;
	float: left;
	width: 600px;
	height: 500px;
	float: left;
}

.onedayinput {
	display: inline-block;
	text-align: left;
	float: right;
	margin-right: 45px;
	margin-bottom: 10px;
	width: 400px;
	height: 5px;
}
/* #oneContent {
	margin-top:10px;
	border: 1px solid black;
	display: inline-block;
	float: right;
	display: inline-block;
	width: 400px;
	height: 200px;
	margin-right: 45px;
} */
.onedaybox {
	outline:none;
	margin-top: 20px;
	float: right;
	display: inline-block;
	width: 400px;
	height: 50px;
	margin-right: 45px;
	z-index: 1
}

#oneRequest {
	outline:none;
	margin-top: 20px;
	float: right;
	display: inline-block;
	width: 402px;
	height: 200px;
	margin-right: 45px;
}



/* 결제하기*/
#onedayp {
	cursor:pointer;
	margin-top: 20px;
	float: right;
	display: inline-block;
	width: 410px;
	height: 73px;
	margin-right: 45px;
	z-index: 1;
	margin-bottom: 100px;
	border: 1px solid #ccc;
	color: black;
	background-color: #ccc;
	font-size: 15px;
	font-weight: bold;
}

#onedayp:hover {
	background-color: #625b54;
	color: white;
}