@charset "UTF-8";

* {
	font-family: 'Jeju Myeongjo';
	font-size: 13pt;
	color: #1e1e1e;
	line-height: 30px;
}

#fullmain {
	text-align: center;
	width: 1280px;
	margin: 0 auto;
	padding: 0;
	clear: both;
}

#main {
	display: inline-block;
	text-align: center;
	width: 1250px;
	margin: 0 auto;
	padding: 0;
}

.subtitle {
	margin-top: 0;
	font-size: 20pt;
	text-align: center;
	padding-top: 20px;
	height: 130px;
}

#detailTitle{
	font-size: 20pt;
	font-weight: 700;
	
	
}
#classImg {
	line-height: 550px;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	margin-left: 60px; 
	width : 425px;
	height: 550px;
	display: inline-block;
	width: 455px;
	float: left;
}

#null {
	vertical-align: middle;
	text-align: center;
	display: inline-block;
	height: 550px;
	width: 40px;
	border: none;
}

#classContent {
	line-height:50px;
	vertical-align: middle;
	text-align: center;
	display: inline-block;
	margin-right: 60px;
	height: 550px;
	width: 455px;
}

#onePl {
	margin-top:20px;
	margin-bottom: 0;
	height: 90px;
	text-align:center;
	vertical-align: middle;
	z-index: 1;
}

#oneDate {
	margin: 0px;
	text-align: left;
	vertical-align: middle;
	z-index: 1;
	font-size: 14pt;
	font-weight: 500;
}

.classText {
	background-color: white;
	margin-bottom: 60px;
	text-align: left;
	vertical-align: middle;
	z-index: 1;
	font-size: 14pt;
 	font-weight: 500;
	
}

#classBtn {
	clear: both;
	display: inline-block;
	width: 350px;
	height: 80px;
	margin-top: 50px;
	border: 1px solid black;
	cursor: pointer;
	border: 1px solid #ccc;
	color: black;
	background-color: #ccc;
	font-size: 14px;
	font-weight: bold;
	
}


#classBtn:hover {
	background-color: #625b54;
	color: white;
}


#classImg>img {
	text-align: center;
	vertical-align: middle;
	width: 455px;
	height: 553px;
	margin: 0 auto;
	padding: 0;
}

#map{
	margin-left: auto;
	margin-right: auto;
	position:relative; 
	width: 600px; 
	height: 500px;
	margin-top: 20px;
	
}

.infodetail{
	clear:both;
	display: block;
	margin-right: 1060px;
}

#detailPrice{
font-size:16pt;
font-weight:600;	
}