@charset "UTF-8";

* {
	font-family: 'Jeju Myeongjo';
	font-size: 13pt;
	color: #1e1e1e;
	line-height: 30px;
}

.subtitle {
	margin-top: 0;
	font-size: 20pt;
	text-align: center;
	padding-top: 20px;
	height: 130px;
}

#oneAImg {
	display: inline-block;
	width: 400px;
	height: 500px;
	float: left;
}

#oneAImg>img {
	display: inline-block;
	width: 400px;
	height: 500px;
	float: left;
}

.AOne {
	display: inline-block;
	float: right;
	width: 300px;
	height: 20px;
	text-align: left;
}

#upBtn {
	display: inline-block;
}

#RmBtn {
	display: inline-block;
}