<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Event_tb">
 
  	<resultMap type="Event_tb" id="resultEvent">
	</resultMap>
	
	
	<!-- 게시글 전체 개수 조회 -->
	<select id="listCount" resultType="int">
		SELECT count(*) FROM Event_tb
	</select>
	
	
	<!-- 페이지당 게시글 조회 rowbounds-->
	<select id="selectList" resultType="arraylist" resultMap="resultEvent">
		SELECT * FROM Event_tb
		order by event_no desc
	</select>
	
	
	<!-- 게시글 단일 조회 -->
	<select id="selectOne" parameterType="Event_tb" resultType="Event_tb">
		SELECT * FROM Event_tb
		WHERE event_no = #{event_no}
	</select>

	
	<!-- 게시글 삽입 -->

	<insert id="insertEvent" parameterType="Event_tb" flushCache="true" statementType="PREPARED">
		INSERT INTO Event_tb VALUES(event_SEQ.NEXTVAL,#{user_no},
		#{event_title},#{event_content}, SYSDATE, #{event_views},#{start_date},#{end_date},#{banner})
	</insert>
	
	<!-- 게시글 수정 -->
	<update id="updateEvent" parameterType="Event_tb" flushCache="true" statementType="PREPARED">
		UPDATE event_tb 
		SET event_title= #{event_title}, 
		event_content= #{event_content}, 
		banner=#{banner},
		event_date= sysdate, 
		start_date=#{start_date},
		end_date=#{end_date}
		WHERE event_no=#{event_no}
	</update>
	
	
	<!-- 게시글 삭제 -->
	<delete id="deleteEvent" parameterType="int" flushCache="true" statementType="PREPARED">
		DELETE FROM event_tb WHERE event_no = #{event_no}
	</delete>

	<!-- 게시글 조회 수 증가  int형인데 string ㄱㅊ?-->
	<update id="addReadCount" parameterType="int" flushCache="true" statementType="PREPARED">
		UPDATE event_tb SET event_views = event_views+1
		WHERE event_no = #{event_no}
	</update>
</mapper>
