<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
	<resultMap type="MemberVO" id="MemberMap">
		<result column="user_no" property="userNo"/>
		<result column="user_id" property="userId"/>
		<result column="user_name" property="userName"/>
		<result column="user_pwd" property="userPwd"/>
		<result column="email" property="email"/>
		<result column="phone" property="phone"/>
		<result column="grade" property="grade"/>
		<result column="address" property="address"/>
	</resultMap>
	
<!-- 	<resultMap type="MemberVO" id="MemberCount">
		<result column="count" property="count"/>
	</resultMap> -->

	<select id="countMember" resultType="MemberVO">
		select count(*) as count from user_tb 
	</select>
	
	<select id="maxMemberId" resultType="string">
		select nvl(max(user_id), 1) from user_tb 
	</select>
	
	<select id="getMemberName" parameterType="string" resultType="string">
		select user_name from member where user_id=#{userId}
	</select>
	
	<select id="searchMember2" parameterType="MemberVO" resultType="MemberVO">
		select user_id as userId, user_name as userName from user_tb where id=#{userId}
	</select>
	
	<select id="searchMember" parameterType="MemberVO" resultMap="MemberMap">
		select user_id, user_name from user_tb where user_id=#{userId}
	</select>
	
	<select id="loginMember" parameterType="MemberVO" resultMap="MemberMap">

		select * from user_tb where user_id=#{userId} and user_pwd=#{userPwd}

	</select>

	<insert id="insertMember" parameterType="MemberVO" statementType="PREPARED" >
		insert into user_tb values (#{userNo}, #{userId}, #{userName}, #{userPwd}, #{email}, #{phone}, #{grade}, #{address})
	</insert>

</mapper>