<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="OrderDetail">
	<resultMap type="OrderDetail" id="OrderDetailMap">
	</resultMap>
	
	<!-- 구매 테이블 추가 -->
	<!-- 구매 상세 추가 -->
	<insert id="insertOrderDetail" parameterType="OrderDetail" flushCache="true" statementType="PREPARED">
		INSERT INTO purchase_list_tb VALUES(
			PURCHASE_SEQ.CURRVAL,
			#{pro_no},
			null,
			#{pro_num}
		)
	</insert>
	
	<!-- 회원별 구매상세 검색 -->
	<select id="selectOrderDList" resultType="arraylist" parameterType="Order" resultMap="OrderDetailMap">
		SELECT pl.pro_num,p.pro_image,p.pro_price 
		FROM purchase_list_tb pl 
		JOIN pro_tb p
		ON pl.pro_no = p.pro_no
		WHERE buy_no = #{buy_no}
	</select>
</mapper>
