<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Order">
	<resultMap type="Order" id="OrderMap">
	</resultMap>
	
	<!-- 구매 테이블 추가 -->
	<insert id="insertOrder" parameterType="Order" flushCache="true" statementType="PREPARED">
		INSERT INTO purchase_tb VALUES(
			PURCHASE_SEQ.NEXTVAL,
			#{user_no},
			<choose>
				<when test="reserv_no != 0 ">
					#{reserv_no},
				</when>
				<when test="reserv_no == 0">
					null,
				</when>
			</choose>
			#{buy_totalprice},
			sysdate,
			#{buy_paymentmethod},
			#{phone},
			#{buy_email},
			#{buy_requests},
			#{buy_rc_name},
			#{buy_rc_address},
			#{buy_rc_phone}
		)
	</insert>
	
	<!--회원별 주문 개수 조회 -->
	<select id="listCount" parameterType="Order" resultType="int">
		SELECT count(*) FROM purchase_tb 
		<where>
	        <if test="user_no != null">
	        	user_no = #{user_no}
	        </if>
        </where>
	</select>
	
	<!-- 회원별 주문 테이블 조회 rowbounds 사용-->
	<select id="selectOrderList" resultType="arraylist" parameterType="Order" resultMap="OrderMap">
		SELECT * FROM purchase_tb 
		<where>
	        <if test="user_no != null">
	        	user_no = #{user_no}
	        </if>
        </where>
		order by buy_date desc
	</select>
	
	<!-- 주문상세내역 조회 (단일출력) -->
	<select id="selectOrder" resultType="Order" parameterType="int" resultMap="OrderMap">
		SELECT p.*, u.user_name 
		FROM purchase_tb p 
		JOIN user_tb u
		ON p.user_no = u.user_no
		WHERE p.buy_no = #{buy_no}
	</select>
</mapper>
