<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Order">
	<resultMap type="Order" id="OrderMap">
	</resultMap>
	
	<!-- 구매 테이블 추가 -->
	<insert id="insertOrder" parameterType="Order" flushCache="true" statementType="PREPARED">
		INSERT INTO purchase_tb VALUES(
			PURCHASE_SEQ.NEXTVAL,
			#{user_no},
			null,
			#{buy_totalprice},
			sysdate,
			#{buy_paymentmethod},
			#{phone},
			#{buy_email},
			#{buy_requests},
			#{buy_rc_name},
			#{buy_rc_address},
			#{buy_rc_phone}
		)
	</insert>
	
	
</mapper>
