<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Product">
	<resultMap type="Product" id="ProductMap">
		
	</resultMap>
	
	<!-- 상품 전체 개수 조회 -->
	<select id="listCount" parameterType="string" resultType="int">
		SELECT count(*) from pro_tb where pro_cate = #{cate}
	</select>
	
	<!-- 페이지당 상품 조회 기본 rowbounds 사용-->
	<select id="selectList" resultType="arraylist" parameterType="string" resultMap="ProductMap">
		SELECT * FROM pro_tb where pro_cate = #{cate} order by pro_no desc
	</select>
	
	<!-- 페이지당 상품 조회  rowbounds 판매량순 사용-->
	<select id="selectListOrderBest" resultType="arraylist" parameterType="string" resultMap="ProductMap">
		SELECT * FROM pro_tb where pro_cate = #{cate} order by pro_stock
	</select>
	
	<!-- 페이지당 상품 조회  rowbounds 낮은 가격순 사용-->
	<select id="selectListOrderLow" resultType="arraylist" parameterType="string" resultMap="ProductMap">
		SELECT * FROM pro_tb where pro_cate = #{cate} order by to_number(replace(replace(pro_price,',',''),'원',''))
	</select>
	
	<!-- 페이지당 상품 조회  rowbounds 높은 가격순 사용-->
	<select id="selectListOrderHigh" resultType="arraylist" parameterType="string" resultMap="ProductMap">
		SELECT * FROM pro_tb where pro_cate = #{cate} order by to_number(replace(replace(pro_price,',',''),'원','')) desc
	</select>
	
	<!-- 상품 검색 -->
	<select id="searchList" parameterType="string" resultType="arraylist" resultMap="ProductMap">
		SELECT * FROM pro_tb
		WHERE PRO_NAME LIKE '%'|| #{keyword} ||'%' 
		ORDER BY PRO_NO
	</select>
	
	<!-- 상품 상세보기 -->
	<select id="selectOne" parameterType="int" resultMap="ProductMap">
		SELECT * FROM pro_tb
		WHERE pro_no = #{pro_no} 
	</select>
	
	<!-- 상품 제고 업데이트 -->
	<update id="updateStock" parameterType="Product" flushCache="true" statementType="PREPARED">
		UPDATE pro_tb 
		SET pro_stock = #{pro_stock} 
		WHERE pro_no = #{pro_no}
	</update>
	
	<!-- 상품 총점 업데이트 -->
	<update id="updateStar" parameterType="Product" flushCache="true" statementType="PREPARED">
		update pro_tb
		set pro_totalStar = pro_totalStar + #{pro_totalStar}
		WHERE pro_no = #{pro_no}
	</update>
	
	<!-- 상품 insert -->
	<insert id="insertPro" parameterType="Product" flushCache="true" statementType="PREPARED">
		INSERT INTO pro_tb VALUES(
			<choose>
				<when test="pro_cate == 'c'">
					PRO_C_SEQ.NEXTVAL,
				</when>
				<when test="pro_cate == 'g'">
					PRO_G_SEQ.NEXTVAL,
				</when>
				<when test="pro_cate == 'p'">
					PRO_P_SEQ.NEXTVAL,
				</when>
			</choose>
			#{pro_name},
			#{pro_image},
			#{pro_price},
			0,
			#{pro_stock},
			#{pro_cate}
		)
	</insert>
	
	<!-- 상품 Delete -->
	<delete id="deletePro" parameterType="int" flushCache="true" statementType="PREPARED">
		DELETE FROM pro_tb 
		WHERE pro_no = #{pro_no} 
	</delete>
	
	<!-- 상품  업데이트 -->
	<update id="updatePro" parameterType="Product" flushCache="true" statementType="PREPARED">
		UPDATE pro_tb 
		SET pro_name = #{pro_name},
			pro_image = #{pro_image},
			pro_price = #{pro_price},
			pro_stock = #{pro_stock},
			pro_cate = #{pro_cate} 
		WHERE pro_no = #{pro_no}
	</update>
</mapper>
