<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ProductCon">
	<resultMap type="ProductCon" id="ProductConMap">
		
	</resultMap>
	
	<select id="selectList" parameterType="int" resultType="arraylist" resultMap="ProductConMap">
		SELECT d.pro_detail 
		FROM pro_tb p join pro_dtail_tb d
		ON p.pro_no = d.pro_no
		WHERE p.pro_no = #{pro_no}
	</select>
	
	<!-- 상품 상세 insert -->
	<insert id="insertProD" parameterType="ProductCon" flushCache="true" statementType="PREPARED">
		INSERT INTO pro_dtail_tb VALUES(
			<choose>
				<when test="pro_cate == 'c'">
					PRO_C_SEQ.CURRVAL,
				</when>
				<when test="pro_cate == 'g'">
					PRO_G_SEQ.CURRVAL,
				</when>
				<when test="pro_cate == 'p'">
					PRO_P_SEQ.CURRVAL,
				</when>
			</choose>
			#{pro_detail}
		)
	</insert>
	
	<!-- 상품 상세 insert -->
	<insert id="updateProD" parameterType="ProductCon" flushCache="true" statementType="PREPARED">
		INSERT INTO pro_dtail_tb VALUES(
			#{pro_no},
			#{pro_detail}
		)
	</insert>
	
	<!-- 상품 상세 Delete -->
	<delete id="deleteProD" parameterType="int" flushCache="true" statementType="PREPARED">
		DELETE FROM pro_dtail_tb 
		WHERE pro_no = #{pro_no} 
	</delete>
	
	<!-- 상품 상세 하나만 Delete -->
	<delete id="deleteProDOne" parameterType="ProductCon" flushCache="true" statementType="PREPARED">
		DELETE FROM pro_dtail_tb 
		WHERE pro_no = #{pro_no} 
		AND pro_detail = #{pro_detail}
	</delete>
</mapper>
