<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Review">
	<resultMap type="Review" id="ReviewMap">
		
	</resultMap>
	
	<!-- 리뷰 전체 불러오기 -->
	<select id="selectList" resultType="arraylist" parameterType="int" resultMap="ReviewMap">
		SELECT r.*,u.user_name FROM rv_tb r
        JOIN user_tb u
        ON u.user_no = r.user_no
    	WHERE pro_no = #{pro_no}
		ORDER BY rv_no desc
	</select>
	
	<!-- 리뷰 작성여부 확인 -->
	<select id="checkRv" resultType="int" parameterType="int">
		SELECT count(rv_no) FROM rv_tb
		WHERE buy_no = #{buy_no}
	</select>
	
	<!-- 리뷰 이미지 불러오기 -->
	<select id="selectImgList" resultType="arraylist" parameterType="int" resultMap="ReviewMap">
		SELECT i.rv_img_src FROM rv_tb r
		JOIN rv_img_tb i
		ON r.rv_no = i.rv_no
		WHERE r.rv_no = #{rv_no}
		ORDER BY i.rv_img_num
	</select>
	
	<!-- 상품별 총 리뷰수 -->
	<select id="listCount" parameterType="int" resultType="int">
		SELECT count(rv_star) FROM rv_tb WHERE pro_no = #{pro_no}
	</select>
	
	<!-- 상품별 별점 수 -->
	<select id="starCount" resultType="int" parameterType="HashMap">
		SELECT count(rv_star) FROM rv_tb WHERE pro_no = #{pro_no} and rv_star = #{star}
	</select>
	
	<!-- 리뷰추가 -->
	<insert id="insertReview" parameterType="Review" flushCache="true" statementType="PREPARED">
		INSERT INTO rv_tb VALUES(
			RV_SEQ.NEXTVAL,
			#{rv_title},
			#{rv_content},
			sysdate,
			#{rv_star},
			#{user_no},
			#{buy_no},
			#{pro_no}
		)
	</insert>
	
	<!-- 리뷰이미지추가 -->
	<insert id="insertRvImg" parameterType="Review" flushCache="true" statementType="PREPARED">
 		INSERT INTO  rv_img_tb VALUES(
 			RV_SEQ.CURRVAL, #{rv_img_num}, #{rv_img_src}
 		)
 	</insert>
 	
 	
</mapper>
